<div class="navigation-wrapper">
	<div class="site-name">
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<div class="grid-top">
			<div class="grid-name">
				<h3 itemprop="name" class="author-name">{{ author.name }}</h3>
			</div>
			<div class="grid-photo">
				{% if author.avatar contains 'http' %}
					<img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} photo">
				{% else %}
					<img src="{{ 'images/' | append: author.avatar | relative_url }}" class="bio-photo" alt="{{ author.name }} photo">
				{% endif %}
			</div>
			<div class="grid-menu">
				<nav role="navigation" id="site-nav" class="nav">
				    <ul>
				        {% for link in site.data.navigation %}
						    {% if link.url contains 'http' %}
						        {% assign domain = '' %}
						        {% else %}
						        {% assign domain = site.github.url %}
						    {% endif %}
						    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
						{% endfor %}
				    </ul>
				</nav>
			</div>
		</div>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
