---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: https://twitter.com/mmistakes
 *
*/

// Partials
$highlightcolor: {{ site.highlight-color }};
$lowlightcolor: {{ site.lowlight-color }};
@import "resume";
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/regular";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";
@import "print";


/* Elements for showing the bibtex/abstract */
.summary {
  margin: 0px 0px 8px 0px;
  outline:none;
  padding: 2px 6px;
  background: lighten($basecolor, 75%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    display: block;
    cursor: pointer;
    position: relative;
    top: -1em;

    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

/* Buttons for showing items */
.button {
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.button-abs {
    background-color: #4CAF50;
}


/* Bibliography */
ul.bibliography {
  counter-reset: item;
}

ul.bibliography li {
  list-style-type: none;
  margin: 10px 0;
}

ul.bibliography li:before {
/*  content: "[" counter(item) "] "; */
/*  counter-increment: item; */
  position: absolute;
  text-align: right;
  width: 4em;
  margin-left: -4.4em;
}



/* Special formatting for the elements on publications page */
.pub_icons {
  padding-left: 0.5em;
  padding-right: 0.5em;
  white-space: nowrap;
}


p.list_header {
    margin-block-end: 0em;
}

ul.list_header {
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
}


.left-align {
   float: left;
}

.right-align {
   float: right;
}
