---
---

<!--
    * Bold my name when it appears in the author's list
    * Replace all uses of italics with the <em> tag so it actually shows up as italics
    * Replace all uses of bold with the <strong> tag so it actually shows up as bold
-->
<div class="csl-block csl-content">
{{ reference | replace_first: 'I. McInerney', '<strong>I. McInerney</strong>'
             | replace_first: 'I. S. McInerney', '<strong>I. S. McInerney</strong>'
             | replace: '<i>', '<em>'
             | replace: '</i>', '</em>'
             | replace: '<b>', '<strong>'
             | replace: '</b>', '</strong>' }}

<p>

{% if entry.acmauthorizer %}
<span class=pub_icons><a href="https://{{ entry.acmauthorizer }}" target="_blank"><i class="ai ai-fw ai-doi"></i>{{ entry.doi }}</a></span>
{% elsif entry.doi %}
<span class=pub_icons><a href="https://dx.doi.org/{{ entry.doi }}" target="_blank"><i class="ai ai-fw ai-doi"></i>{{ entry.doi }}</a></span>
{% endif %}

{% if entry.arxiv %}
<span class=pub_icons><a href="https://arxiv.com/abs/{{ entry.arxiv }}" target="_blank"><i class="ai ai-fw ai-arxiv"></i>arXiv: {{ entry.arxiv }}</a></span>
{% endif %}

{% if entry.preprint %}
<span class=pub_icons><a href="{{ domain }}/content/papers/{{ entry.preprint }}" target="_blank"><i class="fas fa-file-alt"></i> Preprint</a></span>
{% endif %}

{% if entry.extendedabstract %}
<span class=pub_icons><a href="{{ domain }}/content/papers/{{ entry.extendedabstract }}" target="_blank"><i class="fas fa-file-alt"></i> Extended Abstract</a></span>
{% endif %}

{% if entry.instrepo %}
<span class=pub_icons><a href="https://{{ entry.instrepo }}" target="_blank"><i class="ai ai-fw ai-open-access-square"></i> Institutional Repository</a></span>
{% endif %}

{% if entry.slides %}
<span class=pub_icons><a href="{{ domain }}/content/slides/{{ entry.slides }}" target="_blank"><i class="fas fa-tv"></i> Slides</a></span>
{% endif %}

{% if entry.poster %}
<span class=pub_icons><a href="{{ domain }}/content/posters/{{ entry.poster }}" target="_blank"><i class="fas fa-poll-h"></i> Poster</a></span>
{% endif %}

{% if entry.codedoi %}
<span class=pub_icons><a href="https://dx.doi.org/{{ entry.codedoi }}" target="_blank"><i class="fas fa-code"></i>{{ entry.codedoi }}</a></span>
{% endif %}

{% if entry.zenodo %}
<span class=pub_icons><a href="https://dx.doi.org/{{ entry.zenodo }}" target="_blank"><i class="ai ai-fw ai-zenodo"></i> {{ entry.zenodo }}</a></span>
{% endif %}

{% if entry.video %}
<span class=pub_icons><a href="https://{{ entry.video }}" target="_blank"><i class="fas fa-video"></i> Video</a></span>
{% endif %}

{% if entry.url %}
<span class=pub_icons><a href="https://{{ entry.url }}" target="_blank"><i class="fas fa-globe"></i> Web link</a></span>
{% endif %}


<br>
{% if entry.abstract %}
<button class="button button-abs left-align"  onclick="toggleViewer('{{entry.bibtype}}', '{{entry.key}}', 'abstract')">Abstract <i id="{{entry.bibtype}}-abstract-button-{{entry.key}}" class="fas fa-caret-down"></i></button>
{% endif %}
<button class="button button-bib left-align"  onclick="toggleViewer('{{entry.bibtype}}', '{{entry.key}}', 'bibtex', '')">Bibtex <i id="{{entry.bibtype}}-bibtex-button-{{entry.key}}" class="fas fa-caret-down"></i></button>

<br>
{% if entry.abstract %}
<div id="{{entry.bibtype}}-abstract-{{entry.key}}" class="summary" style="display: none;">
<div>{{entry.abstract | markdownify}}</div>
</div>
{% endif %}
<div id="{{entry.bibtype}}-bibtex-{{entry.key}}" class="summary" style="display: none;">
<pre>{{entry.bibtex}}</pre>
</div>

{% if entry.scholar_id %}
<a href="https://scholar.google.co.uk/citations?hl=en&view_op=view_citation&citation_for_view={{ entry.scholar_id }}" target="_blank"><img src="https://img.shields.io/badge/dynamic/json.svg?label=Citations&logo=google-scholar&url=https://ism.engineer/content/citation_count.json&query={{ entry.key }}&color=blue"></a>
{% endif %}
{% if entry.doi %}
<span class="scite-badge"
     data-doi="{{ entry.doi }}"
     data-layout="horizontal"
     data-show-zero="true"
     data-small="true"
     data-show-labels="false"
     data-tally-show="true">
</span>
{% endif %}

</p>

</div>
