<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _cvhead.html %}

</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}



<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="page">
   <div class="resume">
      {{ content }}
  </div><!--closing resume div-->
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->


<!-- Scripts for the bibliography -->
<script>
function toggleBibliography( parameter )
{
    var type  = document.getElementById( 'bibliography-type' );
    var year  = document.getElementById( 'bibliography-year' );
    var topic = document.getElementById( 'bibliography-topic' );

    switch( parameter )
    {
      default:
      case 'type':
        type.style.display = 'block';
        year.style.display = 'none';
        topic.style.display = 'none';
        break;
      case 'year':
        type.style.display = 'none';
        year.style.display = 'block';
        topic.style.display = 'none';
        break;
      case 'topic':
        type.style.display = 'none';
        year.style.display = 'none';
        topic.style.display = 'block';
        break;
    }
}

function toggleViewer( bibtype, entry, type )
{
    var abstractView = document.getElementById( bibtype + '-abstract-' + entry );
    var bibtexView = document.getElementById( bibtype + '-bibtex-' + entry );

    var abstractBut = document.getElementById( bibtype + '-abstract-button-' + entry );
    var bibtexBut = document.getElementById( bibtype + '-bibtex-button-' + entry );


    switch( type )
    {
    case 'abstract':
      if( abstractBut.className === 'fas fa-caret-up' )
      {
        abstractView.style.display = 'none';
        bibtexView.style.display = 'none';

        abstractBut.className = 'fas fa-caret-down';
        bibtexBut.className = 'fas fa-caret-down';
      }
      else
      {
        abstractView.style.display = 'block';
        bibtexView.style.display = 'none';

        abstractBut.className = 'fas fa-caret-up';
        bibtexBut.className = 'fas fa-caret-down';
      }
      break;

    case 'bibtex':
      if( bibtexBut.className === 'fas fa-caret-up' )
      {
        abstractView.style.display = 'none';
        bibtexView.style.display = 'none';

        abstractBut.className = 'fas fa-caret-down';
        bibtexBut.className = 'fas fa-caret-down';
      }
      else
      {
        abstractView.style.display = 'none';
        bibtexView.style.display = 'block';

        abstractBut.className = 'fas fa-caret-down';
        bibtexBut.className = 'fas fa-caret-up';
      }
      break;
    }
}
</script>

<!--Script for adding publication badges-->
<script async type="application/javascript" src="https://cdn.scite.ai/badge/scite-badge-latest.min.js"></script>

{% include _scripts.html %}

</body>
</html>
